{% extends 'polls/index.html' %}
{% load static %}
{% block content %}

<title>Home</title>
    <a class="back"></a>
            <div id="step1">
                <div class="content">
                    <h1>Hello {{ user.name }}
                        <br/>Select your choice</h1>
                    <div class="aTag">
                        <a href="/encrypt" class="button encrypt green">Encrypt a file</a>
                    </div>
                    <div class="aTag">
                        <a href="/decrypt" class="button decrypt magenta">Decrypt a file</a>
                    </div>
                </div>
            </div>
{% endblock %}